.upload-img {
	background-color: #ffffff;
	margin-bottom: .2rem;
}
.upload-title {
	height: 1rem;
	line-height:1rem;
	text-align: left;
	padding-left: .24rem;
	padding-right: .24rem;
	color: #555;
    font-size: .28rem;
    white-space: nowrap;
}
.upload-content {
	padding: 0 .24rem;
	text-align: left;
}
.upload-item {
	height: 1.2rem;
	width: 1.2rem;
	margin-right: .2rem;
	margin-bottom: .2rem;
	float: left;
	position: relative;
	background-color: #ededed;
}
.upload-item img {
	height: 100%;
	width: 100%;
} 
.dele-icon {
	position: absolute;
	top: -0.2rem;
	right: -0.15rem;
}
.danger {
	color: red;
	/*display: none;*/
}
.pull-right {
	float: right;
}

.slot-bottom {
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
}

.bottom-btn {
	margin: .05rem !important;
}
.input-danger>input{
	color: red !important;
}
.input-none input[type="file"]{
	display: none;
}

.title-center .yd-cell-title {
    text-align: center;
    font-size: .35rem;
    color: #555;
    font-weight: bold;
}
.need-badge {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background-color: red;
    position: absolute;
}
.need-badge-2 {
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background-color: red;
    position: absolute;
    top: 0.2rem;
    left: 0.1rem;
}